.header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $black;
  overflow-y: hidden;

  @include tablet-max {
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;

    @include desktop-max {
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 35px;
    }
  }

  &__logo {
    margin-right: size(50px);

    &--modals {
      margin-top: size(55px);
      margin-left: size(95px);
      position: relative;
      z-index: 99999;
    }

    @include desktop-max {
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 25px;
    }

    &--modals {
      margin-bottom: 0;
    }

    @include mobile {
      & svg {
        width: 180px;
        height: auto;
      }
    }
  }

  &__title {
    max-width: 100%;
    margin: 0;
    font-size: size(30px);
    color: $white;

    @include desktop-max {
      width: 100%;
      text-align: center;
      margin-right: 0;
    }

    @include tablet {
      margin-bottom: 15px;
      font-size: size(25px);
    }

    @include mobile {
      font-size: size(16px);
    }
  }
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  flex: 1 0 auto;
  @include list-reset();

  @include tablet {
    min-height: auto;
    height: auto;
  }

  &__item {
    width: 22%;
    height: size-vh(550px, $container-height);
    background-image: url('../img/helic.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    box-shadow: 0px 4px 19px 8px rgba(255, 255, 255, 0.75);
    filter: grayscale(100%);
    transition: all 0.7s;
    cursor: pointer;

    &:hover {
      filter: none;
    }

    &--second {
      background-image: url('../img/morphey.jpg');
    }

    &--third {
      background-image: url('../../img/car.jpg');
    }

    &--fourth {
      background-image: url('../../img/roulet.jpg');
    }

    @include tablet {
      width: 48%;
      height: size-vh(250px, 500px);
      filter: none;
      margin-bottom: 50px;
      background-position: top center;

      &:nth-child(n + 3) {
        margin-bottom: 0;
      }
    }

    @include mobile-max {
      height: size-vh(250px, $container-height);

      width: 100%;
      margin-bottom: 40px;

      &:nth-child(n + 3) {
        margin-bottom: 40px;
      }
    }
  }
}

.open__count {
  @include link-reset;
  position: relative;
  z-index: 5;
  display: block;
  margin: 0;
  margin-right: auto;
  width: 100%;
  font-size: size(30px);
  color: $white;
  max-width: size(320px);

  @include desktop-max {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }

  @include tablet {
    margin-bottom: 15px;
    font-size: size(25px);
  }

  @include mobile {
    font-size: 24px;
  }

  &--modal {
    margin-top: size(55px);

    @include mobile {
      font-size: 24px;
      margin-top: 15px;
    }
  }
}
