.fancybox-button {
  @include mobile-max {
    width: 50px;
    height: 50px;
  }
}

.fancybox-slide--html .fancybox-close-small {
  color: #ffffff;
}

.fancybox-slide--html {
  padding: 0;
}

.fancybox-content {
  flex-direction: column;
  min-height: 100%;
  padding: 0;
}

.fancybox-slide--html .fancybox-close-small {
  padding: 0;
}

#st-1.st-animated {
  max-width: 680px;
}

#st_gdpr_iframe {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.fancybox-active {
  height: 100%;
  padding: 0;
}

body[style] {
  padding-bottom: 0;
}

div.fancybox-content {
  padding: 0;
  margin-bottom: 0 !important;
}

.fancybox-slide--html {
  padding: 0 !important;
}

.fancybox-slide {
  min-height: 100vh !important;
  height: auto;
}

.fancybox-slide--html .fancybox-close-small {
  top: 5% !important;
  right: 7% !important;
  width: 60px;
  height: 60px;
  transform: translate(-40%, -15%);
  padding: 0 !important;
  opacity: 1;

  background-image: url('../../img/star.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;

  &:hover {
    background-image: url('../../img/red-star-hover.svg');
  }

  & svg {
    display: none;
  }

  @include mobile {
    width: 50px;
    height: 50px;
    top: 30px !important;
    right: 1px !important;
  }
}

.fancybox-navigation .fancybox-button--arrow_right,
.fancybox-navigation .fancybox-button--arrow_left {
  width: 75px !important;
  height: 100px !important;
  padding: 0 !important;
  background-color: transparent !important;
}

.fancybox-navigation .fancybox-button--arrow_right svg path,
.fancybox-navigation .fancybox-button--arrow_left svg path {
  fill: none !important;
  stroke-width: initial !important;
}
