@function size($size-in-px) {
  @return $size-in-px / $font-main * 1rem;
}

@function size-desktop($size-in-px) {
  @return $size-in-px / desktop * 100vw;
}

@function size-tablet($size-in-px) {
  @return $size-in-px / $width-tablet * 100vw;
}

@function size-mobile($size-in-px) {
  @return $size-in-px / $width-min * 100vw;
}

@function size-vh($size-in-px, $container-height) {
  @return $size-in-px / $container-height * 100vh;
}

@mixin desktop-2048 {
  @media (max-width: $desktop-2048) {
    @content;
  }
}




@mixin desktop-max {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin tablet-max {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-max {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-sm-max {
  @media (max-width: $mobile-sm) {
    @content;
  }
}

/* Остальные миксины */

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-reset {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
