@function size($size-in-px) {
  @return $size-in-px / $font-main * 1rem;
}

@function size-desktop($size-in-px) {
  @return $size-in-px / $desktop * 100vw;
}

@function size-tablet($size-in-px) {
  @return $size-in-px / $width-tablet * 100vw;
}

@function size-mobile($size-in-px) {
  @return $size-in-px / $width-min * 100vw;
}

@function size-vh($size-in-px, $container-height) {
  @return $size-in-px / $container-height * 100vh;
}




@mixin desktop-2048 {
  @media (max-width: $desktop-2048) {
    @content;
  }
}

@mixin desktop-max {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin tablet-max {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-max {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-sm-max {
  @media (max-width: $mobile-sm) {
    @content;
  }
}


// Новые миксины

@mixin desktop-only {
  @media (min-width: $width-laptop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $width-laptop - 1px) {
    @content;
  }
}

@mixin tablet-small {
  @media(max-width:$widht-tablet-lg - 1px) {
    @content;
  }
}

@mixin tablet-only {
  @media (max-width: $width-laptop - 1px) and (min-width: $width-tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $width-tablet - 1px) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin font-xxl {
  font-size: size(64px);
  line-height: size(72px);
  font-weight: normal;
}

@mixin font-xl {
  font-size: size(56px);
  line-height: size(64px);
  font-weight: normal;
}

@mixin font-large {
  font-size: size(40px);
  line-height: size(47px);
  font-weight: normal;
}

@mixin font-medium {
  font-size: size(32px);
  line-height: size(40px);
  font-weight: normal;
}

@mixin font-medium-xs {
  font-size: size(26px);
  line-height: size(35px);
  font-weight: normal;
}

@mixin font-small {
  font-size: size(24px);
  line-height: size(32px);
  font-weight: normal;
}

@mixin font-xs {
  font-size: size(16px);
  line-height: size(26px);
  font-weight: normal;
}

@mixin font-xxs {
  font-size: size(14px);
  line-height: size(20px);
  font-weight: normal;
}

@mixin font-face($name, $filename, $weight, $style: normal) {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src:
      url("../fonts/" + $filename + ".woff2") format("woff2"),
      url("../fonts/" + $filename + ".woff") format("woff");
  }
}

/* Остальные миксины */

@mixin field-reset {
  padding: 0;
  background-color: $transparent;
  border: none;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-reset {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@mixin button-reset {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

